<!DOCTYPE html>
<html>
<head>
	<title>input type</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<!--
	<div ng-app="" ng-init="firstname=">
	Name <input type="text" name="name" ng-model='firstname'>
	<p> You Wrote : {{firstname}}</p>
	</div>

<div ng-app="">
	Name <input type="text" name="name" ng-model='firstname'>
	<p> You Wrote : <span ng-bind=firstname></span></p>
</div>
-->

<div data-ng-app="">
	Name <input type="text" name="name" data-ng-model='firstname'>
	<p> You Wrote : <span data-ng-bind=firstname></span></p>
</div>



</body>
</html>